/*Estilos para el texto en el componente de investigacion*/
.textInvestigation{
    font-size: 10.5px;
}

/*Estilos para el icono en el componente de investigacion*/
.iconInvestigation{
    font-size: 50px;
}

/*Estilos para el titulo de investigacion*/
.titleInvestigation{
    font-size: 19px;
}