#nav{
    background-color: white !important;
}

/*Apartado para dispositivos pequeños*/
@media (max-width: 767.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 14px;
        color: #1b3a6d;
        text-align: left;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        width: 42px;
        height: 66px;
    }

    /*Estilos para posicionar el boton en el navbar*/
    #toogleBoton{
        margin-top: 15px;
    }
}

/*Apartado para dispositivos mediamos*/
@media (min-width: 768px) and (max-width: 991.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 24px;
        text-align: left;
        color: #1b3a6d;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 54px;
        height: 86px;
    }

    /*Estilos para posicionar el boton en el navbar*/
    #toogleBoton{
        margin-top: 15px;
    }
}

/*Apartado para dispositivos grandes*/
@media (min-width: 992px) and (max-width: 1199.98px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        font-size: 24px;
        text-align: left;
        color: #1b3a6d;
        padding: 7px;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 60px;
        height: 92px;
    }

    /*Estilos para los links principales en el navbar*/
    .linkTextNav{
        color: #1b3a6d !important;
    }

    #nav{
        width: 80vw;
        margin-left: 10vw;
        background-color: white !important;
    }

    /*Estilos para los menus despegables*/
    .listBackNav{
        background-color: #1b3a6d;
    }

    /*Estilos para los links en los menus despegables*/
    .listTextNav{
        color: white;
    }
}

/*Apartado para dispositivos xl*/
@media (min-width: 1200px){
    /*Estilos para el titulo del sitio que pertenece al navbar*/
    #titleNav{
        float: left;
        font-size: 18px;
        text-align: left;
        color: #1b3a6d;
    }

    /*Estilos para la imagen del sitio que pertenece al navbar*/
    #imgLogoNav{
        float: left;
        width: 64px;
        height: 96px;
    }

    #nav{
        width: 86vw;
        margin-left: 7vw;
        background-color: white !important;
    }

    /*Estilos para los links principales en el navbar*/
    .linkTextNav{
        color: #1b3a6d !important;
    }

    /*Estilos para los menus despegables*/
    .listBackNav{
        background-color: #1b3a6d;
    }

    /*Estilos para los links en los menus despegables*/
    .listTextNav{
        color: white;
    }
}