/*Estilos para el modulo de carrusel en principal*/
#carouselExampleIndicators{
    background-color: #e97623;
    color: white;
}

/*Estilos para el título de actividades recientes*/
#recentActPrincipal{
    font-size: 25px;
}

/*Estilos para el card de actividades recientes*/
.card{
    border-style: unset;
}

/*Cambiar el color del cardtext*/
.card-text{
    color: #16304e;
}

/*Estilos para los botones de en las cartas de actividades recientes*/
.btnCardPrincipal{
    background-color: #16304e;
    color: white;
}

/*Estilos para el margin bottom en las tarjetas*/
.cardMargin{
    margin-bottom: 15px;
}

/*Estilos para los links en el componente de investigacion*/
.linkTextInv{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

/*Estilos para colocar texto por encima de las tarjetas*/
.superTextNews{
    background-color: rgba(125, 25, 24, 0.7);
    width: 80%;
    height: 60%;
    color: white;
    padding: 5px;
    position: absolute;
}

/*Estilos para agregar margin top*/
.sectionTop{
    margin-top: 10px;
}

/*Estilos para poner el fondo de color gris*/
/*body{
    background-color: #fafafa;
}*/

/*Apartado para dispositivos pequeños*/
@media (max-width: 767.98px){
    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-bottom: 10vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 10px;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextNews{
    font-size: 10.5px;
    }
}

/*Apartado para dispositivos mediamos*/
@media (min-width: 768px) and (max-width: 991.98px){
    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 6vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextNews{
        font-size: 12px;
        }
}

/*Apartado para dispositivos grandes*/
@media (min-width: 992px) and (max-width: 1199.98px){
    /*Estilos para los links en el componente de investigacion*/
    .linkTextInv{
        font-size: 17px;
    }

    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 7vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextNews{
        font-size: 12px;
    }
}

/*Apartado para dispositivos xl*/
@media (min-width: 1200px){
    /*Estilos para los links en el componente de investigacion*/
    .linkTextInv{
        font-size: 17px;
    }

    /*Estilos para los elementos en el carrusel*/
    .carouselItem{
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    /*Estilos para el texto dentro del boton*/
    .textButtonCarousel{
        font-size: 14px;
        margin-left: 6.5vw;
    }

    /*Estilos para colocar texto por encima de las tarjetas*/
    .superTextNews{
        font-size: 11.5px;
    }
}